<p class="lead">
	应用信息 
	<button id="btn-add-func" class="btn btn-primary btn-sm pull-right">添加功能</button>
</p>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th style="width: 50%">应用编号</th>
			<td>[%=code %]
			<input name="id" type="hidden" value="[%=id %]"/>
			</td>
		</tr>
		<tr>
			<th>应用名称</th>
			<td>[%=text %]</td>
		</tr>
	</table>
</div>
